.react-calendar__month-view__days {
	outline: solid 1px #eee;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.react-calendar__month-view__weekdays {
	padding-bottom: 10px;
	text-align: center;
}

abbr[title] {
	text-align: center;
	text-decoration: none !important;
}

.react-calendar__month-view__days__day {
	min-height: 120px;
	background: white;
	outline: solid 1px #eee;
	border: none;
}
.react-calendar__month-view__days__day:hover {
	cursor: pointer;
	background: #f3f3f3;
}

.react-calendar__tile--active {
	background: #f3f3f3;
}

.react-calendar__month-view__days__day:first-child {
	min-height: 120px;
	background: white;
}

.react-calendar__navigation {
	margin-top: 20px;
	margin-bottom: 20px;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
	background: #727cf5 !important;
	color: #fff !important;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10) !important;
}
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button:hover {
	background: #6169d0 !important;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
	background: #727cf5 !important;
	color: #fff !important;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10) !important;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button:hover {
	background: #6169d0 !important;
}

.react-calendar__navigation__label {
	background: #727cf5 !important;
	color: #fff !important;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10) !important;
}
.react-calendar__navigation__label:hover {
	background: #6169d0 !important;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
	background: #727cf5 !important;
	color: #fff !important;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10) !important;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next-button:hover {
	background: #6169d0 !important;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
	background: #727cf5 !important;
	color: #fff !important;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10) !important;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button:hover {
	background: #6169d0 !important;
}


#panel {
	height: 100%;
	background: #eee;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
	padding: 30px;
}

.topnav {
	position: fixed;
	min-height: 70px;
	left: 310px;
	top: 0;
	right: 0;
	background: #fff;
	z-index: 1000;

}

.sidebar {
	height: 100vh;
	background: #313a46;
	color: #fff;
	position: fixed;
	width: 300px;
}

.sidebar h3 {
	padding-top: 20px;
	text-align: center;
}

.sidebar-col {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

a.update_button{
	font-size: 10px;
	text-decoration: underline;
}

.react-calendar__tile--now {
	background: #f3f3f3;
	color: #000;
}

.react-calendar__tile--now:hover {
	background: #f3f3f3;
	color: #000;
}

.ui.positive.basic.button.complete {
	background: #0acf97 !important;
	color: #fff !important;
}

.desc {
	font-size: 8px;
	margin-top: 20px;
}

.complete {
	background: #0acf97;
	color: #fff;
}

.complete:hover {
	background: #0acf97;
	color: #fff;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    border: none;
    padding: 10px;
}

.side-nav {
    padding-left: 0;
    list-style-type: none;
}

.side-nav .side-nav-title {
    color: #8391a2;
}

.side-nav .side-nav-title {
    padding: 12px 30px;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: .6875rem;
    text-transform: uppercase;
    font-weight: 700;
}

.side-nav .side-nav-link {
    color: #8391a2;
    display: block;
    padding: 10px 30px;
    font-size: 1.2rem;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    list-style: none;
    text-decoration: none !important;
}

.side-nav .side-nav-link:hover {
    color: #fff;
}

.link a {
	text-decoration: none !important;
}


i {
	color: #8391a2;
    display: block;
    padding: 10px 30px;
    font-size: 1.2rem;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    list-style: none;
    text-decoration: none;
}

.ui.grid {
	margin-top: 0 !important;
	background: #f9fafd;
	margin-left: 0 !important;
	padding: 20px;
	padding-top: 0 !important;
	padding-left: 0px;
}

.profileImage {
	max-width: 50px;
	border-radius: 100%;
}

.profileDrop {
	padding: 5px;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item a {
	text-decoration: none !important;
	color: #000 !important;
}

.calendarPanel {
	background: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
}

.col-lg-10 {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05) !important;
}

.workoutLog {
	padding: 30px;
	margin-left: 20px;
	
}

.theCalendar {

}

.breadcrumbs {
	padding: 20px 0 !important;
	margin-top: 80px !important;
}

.userDetails {
	padding: 40px
}

img.logo {
	padding-top: 20px;
	padding-bottom: 30px;
	max-width: 120px;
	display: block;
	margin: 0 auto;
}