.react-calendar__month-view__days {
	outline: solid 1px #eee;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.react-calendar__month-view__weekdays {
	padding-bottom: 10px;
}

abbr[title] {
	text-align: center;
	text-decoration: none !important;
}

.react-calendar__month-view__days__day {
	min-height: 120px;
	background: white;
	outline: solid 1px #eee;
	border: none;
}
.react-calendar__month-view__days__day:hover {
	cursor: pointer;
	background: #f3f3f3;
}

.react-calendar__tile--active {
	background: #f3f3f3;
}

.react-calendar__month-view__days__day:first-child {
	min-height: 120px;
	background: white;
}

.react-calendar__navigation {
	margin-top: 20px;
	margin-bottom: 20px;
}

#panel {
	height: 100%;
	background: #eee;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
	padding: 30px;
}

.sidebar {
	height: 100vh;
	background: #313a46;
	color: #fff;
}

.sidebar h3 {
	padding-top: 20px;
	text-align: center;
}

.sidebar-col {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

a.update_button{
	font-size: 10px;
	text-decoration: underline;
}

.react-calendar__tile--now {
	background: #f3f3f3;
	color: #000;
}

.react-calendar__tile--now:hover {
	background: #f3f3f3;
	color: #000;
}

.ui.positive.basic.button.complete {
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.desc {
	font-size: 8px;
	margin-top: 20px;
}

.complete {
	background: #21ba45;
	color: #fff;
}

.complete:hover {
	background: #21ba45;
	color: #fff;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    border: none;
    padding: 10px;
}

.side-nav {
    padding-left: 0;
    list-style-type: none;
}

.side-nav .side-nav-title {
    color: #8391a2;
}

.side-nav .side-nav-title {
    padding: 12px 30px;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: .6875rem;
    text-transform: uppercase;
    font-weight: 700;
}

.side-nav .side-nav-link a {
    color: #8391a2;
    display: block;
    padding: 10px 30px;
    font-size: 1.2rem;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    list-style: none;
    text-decoration: none;
}

i.bi.bi-calendar-check {
	 color: #8391a2;
    display: block;
    padding: 10px 30px;
    font-size: 1.2rem;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    list-style: none;
    text-decoration: none;
}

.ui.grid {
	margin-top: 0 !important;
	background: #f9fafd;
	margin-left: 0 !important;
	padding: 20px;
}

.topnav {
	padding: 15px;
}

.profileImage {
	max-width: 50px;
	border-radius: 100%;
}

.profileDrop {
	padding: 5px;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item a {
	text-decoration: none !important;
	color: #000 !important;
}